@model Decopack.EE.Pedido

@{
    ViewBag.Title = "Aprobar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <div id="container">
        <label></label><span class="helpButton button">@Recursos.Recurso.mensajeayuda</span>
        <p class="help">@Recursos.Recurso.pedidoaprobarh</p><br />

    </div>
</form>


<h2>@Recursos.Recurso.pedidoaprobar1</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Recursos.Recurso.guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Recursos.Recurso.cancelaryvolver, "Index",null, new { @class = "button" })
</div>
